**å¤ä¹ ï¼š**æ•°æ®åˆ†æçš„ç¬¬ä¸€æ­¥ï¼ŒåŠ è½½æ•°æ®æˆ‘ä»¬å·²ç»å­¦ä¹ å®Œæ¯•äº†ã€‚å½“æ•°æ®å±•ç°åœ¨æˆ‘ä»¬é¢å‰çš„æ—¶å€™ï¼Œæˆ‘ä»¬æ‰€è¦åšçš„ç¬¬ä¸€æ­¥å°±æ˜¯è®¤è¯†ä»–ï¼Œä»Šå¤©æˆ‘ä»¬è¦å­¦ä¹ çš„å°±æ˜¯**äº†è§£å­—æ®µå«ä¹‰ä»¥åŠåˆæ­¥è§‚å¯Ÿæ•°æ®**ã€‚

## 1 ç¬¬ä¸€ç« ï¼šæ•°æ®è½½å…¥åŠåˆæ­¥è§‚å¯Ÿ

### 1.4 çŸ¥é“ä½ çš„æ•°æ®å«ä»€ä¹ˆ
æˆ‘ä»¬å­¦ä¹ pandasçš„åŸºç¡€æ“ä½œï¼Œé‚£ä¹ˆä¸Šä¸€èŠ‚é€šè¿‡pandasåŠ è½½ä¹‹åçš„æ•°æ®ï¼Œå…¶æ•°æ®ç±»å‹æ˜¯ä»€ä¹ˆå‘¢ï¼Ÿ

**å¼€å§‹å‰å¯¼å…¥numpyå’Œpandas**

In [1]:
import numpy as np
import pandas as pd

#### 1.4.1 ä»»åŠ¡ä¸€ï¼špandasä¸­æœ‰ä¸¤ä¸ªæ•°æ®ç±»å‹DateFrameå’ŒSeriesï¼Œé€šè¿‡æŸ¥æ‰¾ç®€å•äº†è§£ä»–ä»¬ã€‚ç„¶åè‡ªå·±å†™ä¸€ä¸ªå…³äºè¿™ä¸¤ä¸ªæ•°æ®ç±»å‹çš„å°ä¾‹å­ğŸŒ°[å¼€æ”¾é¢˜]

In [5]:
#å†™å…¥ä»£ç 
data=np.random.randn(6,4)#åˆ›å»ºä¸€ä¸ª6è¡Œ4åˆ—çš„æ•°ç»„
df=pd.DataFrame(data,columns=list('ABCD'),index=[1,2,'a','b','2006-10-1','ç¬¬å…­è¡Œ'])
pd.DataFrame(columns=('id','name','grade','class'))

SyntaxError: invalid syntax (<ipython-input-5-9c42a2bc49ea>, line 6)

In [7]:
s = pd.Series([9, 'zheng', 'beijing','Data iron', 128])

print(s)

0            9
1        zheng
2      beijing
3    Data iron
4          128
dtype: object

In [ ]:
'''
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1
'''

In [ ]:
'''
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2
'''

#### 1.4.2 ä»»åŠ¡äºŒï¼šæ ¹æ®ä¸ŠèŠ‚è¯¾çš„æ–¹æ³•è½½å…¥"train.csv"æ–‡ä»¶

In [8]:
#å†™å…¥ä»£ç 
df = pd.read_csv('train.csv')

ä¹Ÿå¯ä»¥åŠ è½½ä¸Šä¸€èŠ‚è¯¾ä¿å­˜çš„"train_chinese.csv"æ–‡ä»¶ã€‚é€šè¿‡ç¿»è¯‘ç‰ˆtrain_chinese.csvç†Ÿæ‚‰äº†è¿™ä¸ªæ•°æ®é›†ï¼Œç„¶åæˆ‘ä»¬å¯¹trian.csvæ¥è¿›è¡Œæ“ä½œ
#### 1.4.3 ä»»åŠ¡ä¸‰ï¼šæŸ¥çœ‹DataFrameæ•°æ®çš„æ¯åˆ—çš„é¡¹

In [11]:
#å†™å…¥ä»£ç 
df = pd.read_csv('train.csv',engine='python')
print(df.dtypes)
print('-----')

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
-----

#### 1.4.4ä»»åŠ¡å››ï¼šæŸ¥çœ‹"cabin"è¿™åˆ—çš„æ‰€æœ‰é¡¹ [æœ‰å¤šç§æ–¹æ³•]

In [12]:
#å†™å…¥ä»£ç 
print(df.Cabin.head(3))

0    NaN
1    C85
2    NaN
Name: Cabin, dtype: object

In [14]:
#å†™å…¥ä»£ç 
print(df['Cabin'].head(100))

0             NaN
1             C85
2             NaN
3            C123
4             NaN
5             NaN
6             E46
7             NaN
8             NaN
9             NaN
10             G6
11           C103
12            NaN
13            NaN
14            NaN
15            NaN
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21            D56
22            NaN
23             A6
24            NaN
25            NaN
26            NaN
27    C23 C25 C27
28            NaN
29            NaN
         ...
70            NaN
71            NaN
72            NaN
73            NaN
74            NaN
75          F G73
76            NaN
77            NaN
78            NaN
79            NaN
80            NaN
81            NaN
82            NaN
83            NaN
84            NaN
85            NaN
86            NaN
87            NaN
88    C23 C25 C27
89            NaN
90            NaN
91            NaN
92            E31
93            NaN
94            NaN
95            NaN
96             A5
97        D10 D12
98            NaN
99            NaN
Name: Cabin, Length: 100, dtype: object

#### 1.4.5 ä»»åŠ¡äº”ï¼šåŠ è½½æ–‡ä»¶"test_1.csv"ï¼Œç„¶åå¯¹æ¯”"train.csv"ï¼Œçœ‹çœ‹æœ‰å“ªäº›å¤šå‡ºçš„åˆ—ï¼Œç„¶åå°†å¤šå‡ºçš„åˆ—åˆ é™¤
ç»è¿‡æˆ‘ä»¬çš„è§‚å¯Ÿå‘ç°ä¸€ä¸ªæµ‹è¯•é›†test_1.csvæœ‰ä¸€åˆ—æ˜¯å¤šä½™çš„ï¼Œæˆ‘ä»¬éœ€è¦å°†è¿™ä¸ªå¤šä½™çš„åˆ—åˆ å»

In [23]:
#å†™å…¥ä»£ç 
df2 = pd.read_csv('test_1.csv',engine='python')
print(df2.dtypes)

Unnamed: 0       int64
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
a                int64
dtype: object

In [24]:
#å†™å…¥ä»£ç 
del df2['a']

print(df2.dtypes)

Unnamed: 0       int64
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

ã€æ€è€ƒã€‘è¿˜æœ‰å…¶ä»–çš„åˆ é™¤å¤šä½™çš„åˆ—çš„æ–¹å¼å—ï¼Ÿ

In [1]:
# æ€è€ƒå›ç­”

df2.drop(['a'], axis=1)

#### 1.4.6 ä»»åŠ¡å…­ï¼š å°†['PassengerId','Name','Age','Ticket']è¿™å‡ ä¸ªåˆ—å…ƒç´ éšè—ï¼Œåªè§‚å¯Ÿå…¶ä»–å‡ ä¸ªåˆ—å…ƒç´

In [53]:
#å†™å…¥ä»£ç 
df.drop(['PassengerId','Name','Age','Ticket'],axis=1).head(3)

,Unnamed: 0,Survived,Pclass,Sex,SibSp,Parch,Fare,Cabin,Embarked,a
0,0,0,3,male,1,0,7.2500,NaN,S,100
1,1,1,1,female,1,0,71.2833,C85,C,100
2,2,1,3,female,0,0,7.9250,NaN,S,100

ã€æ€è€ƒã€‘å¯¹æ¯”ä»»åŠ¡äº”å’Œä»»åŠ¡å…­ï¼Œæ˜¯ä¸æ˜¯ä½¿ç”¨äº†ä¸ä¸€æ ·çš„æ–¹æ³•(å‡½æ•°)ï¼Œå¦‚æœä½¿ç”¨ä¸€æ ·çš„å‡½æ•°å¦‚ä½•å®Œæˆä¸Šé¢çš„ä¸åŒçš„è¦æ±‚å‘¢ï¼Ÿ

ã€æ€è€ƒå›ç­”ã€‘

å¦‚æœæƒ³è¦å®Œå…¨çš„åˆ é™¤ä½ çš„æ•°æ®ç»“æ„ï¼Œä½¿ç”¨inplace=Trueï¼Œå› ä¸ºä½¿ç”¨inplaceå°±å°†åŸæ•°æ®è¦†ç›–äº†ï¼Œæ‰€ä»¥è¿™é‡Œæ²¡æœ‰ç”¨

### 1.5 ç­›é€‰çš„é€»è¾‘

è¡¨æ ¼æ•°æ®ä¸­ï¼Œæœ€é‡è¦çš„ä¸€ä¸ªåŠŸèƒ½å°±æ˜¯è¦å…·æœ‰å¯ç­›é€‰çš„èƒ½åŠ›ï¼Œé€‰å‡ºæˆ‘æ‰€éœ€è¦çš„ä¿¡æ¯ï¼Œä¸¢å¼ƒæ— ç”¨çš„ä¿¡æ¯ã€‚

ä¸‹é¢æˆ‘ä»¬è¿˜æ˜¯ç”¨å®æˆ˜æ¥å­¦ä¹ pandasè¿™ä¸ªåŠŸèƒ½ã€‚

#### 1.5.1 ä»»åŠ¡ä¸€ï¼š æˆ‘ä»¬ä»¥"Age"ä¸ºç­›é€‰æ¡ä»¶ï¼Œæ˜¾ç¤ºå¹´é¾„åœ¨10å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯ã€‚

In [54]:
#å†™å…¥ä»£ç 
df[df["Age"]<10]

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a
7,7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,100
10,10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,100
16,16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,100
24,24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S,100
43,43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,100
50,50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S,100
58,58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S,100
63,63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,100
78,78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,100
119,119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,100
147,147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S,100
164,164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,100
165,165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S,100
171,171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,100
172,172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,100
182,182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S,100
183,183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,100
184,184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,100
193,193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,100
205,205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,100
233,233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S,100
237,237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S,100
261,261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,100
278,278,279,0,3,"Rice, Master. Eric",male,7.00,4,1,382652,29.1250,NaN,Q,100
297,297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,100
305,305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,100
340,340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,100
348,348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,100
374,374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S,100
381,381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,100
448,448,449,1,3,"Baclini, Miss. Marie Catherine",female,5.00,2,1,2666,19.2583,NaN,C,100
469,469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,100
479,479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S,100
480,480,481,0,3,"Goodwin, Master. Harold Victor",male,9.00,5,2,CA 2144,46.9000,NaN,S,100
489,489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S,100
530,530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S,100
535,535,536,1,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,F.C.C. 13529,26.2500,NaN,S,100
541,541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.00,4,2,347082,31.2750,NaN,S,100
549,549,550,1,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,C.A. 33112,36.7500,NaN,S,100
618,618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S,100
634,634,635,0,3,"Skoog, Miss. Mabel",female,9.00,3,2,347088,27.9000,NaN,S,100
642,642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S,100
644,644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,100
691,691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C,100
720,720,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.00,0,1,248727,33.0000,NaN,S,100
750,750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S,100
751,751,752,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S,100
755,755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,100
777,777,778,1,3,"Emanuel, Miss. Virginia Ethel",female,5.00,0,0,364516,12.4750,NaN,S,100
787,787,788,0,3,"Rice, Master. George Hugh",male,8.00,4,1,382652,29.1250,NaN,Q,100
788,788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,100
803,803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,100
813,813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082,31.2750,NaN,S,100
824,824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,100
827,827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,100
831,831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,100
850,850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,100
852,852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C,100
869,869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,100

In [55]:
df[df["Age"]<10].head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a
7,7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S,100
10,10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.700,G6,S,100
16,16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.125,NaN,Q,100

#### 1.5.2 ä»»åŠ¡äºŒï¼š ä»¥"Age"ä¸ºæ¡ä»¶ï¼Œå°†å¹´é¾„åœ¨10å²ä»¥ä¸Šå’Œ50å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯æ˜¾ç¤ºå‡ºæ¥ï¼Œå¹¶å°†è¿™ä¸ªæ•°æ®å‘½åä¸ºmidage

In [56]:
#å†™å…¥ä»£ç 
midage = df[df["Age"]>10& (df["Age"]<50)]
midage.head(100)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,100
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,100
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,100
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,100
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,100
6,6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,100
7,7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,100
8,8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,100
9,9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,100
10,10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,100
11,11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,100
12,12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,100
13,13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,100
14,14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,100
15,15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,100
16,16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,100
18,18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,100
20,20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,100
21,21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,100
22,22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,100
23,23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,100
24,24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,100
25,25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,100
27,27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,100
30,30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,100
33,33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,100
34,34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,100
35,35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,100
37,37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S,100
38,38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,NaN,S,100
92,92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S,100
93,93,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.5750,NaN,S,100
94,94,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S,100
96,96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,100
97,97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C,100
98,98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S,100
99,99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S,100
100,100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S,100
102,102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S,100
103,103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S,100
104,104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S,100
105,105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,NaN,S,100
106,106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S,100
108,108,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S,100
110,110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S,100
111,111,112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,100
112,112,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.0500,NaN,S,100
113,113,114,0,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.8250,NaN,S,100
114,114,115,0,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.4583,NaN,C,100
115,115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.9250,NaN,S,100
116,116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q,100
117,117,118,0,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.0000,NaN,S,100
118,118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,100
119,119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.2750,NaN,S,100
120,120,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S,100
122,122,123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,NaN,C,100
123,123,124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0000,E101,S,100
124,124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S,100
125,125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.0,1,0,2651,11.2417,NaN,C,100

In [57]:
midage = df[(df["Age"]>10)& (df["Age"]<50)]
midage.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,100
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,100
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,100

ã€æç¤ºã€‘äº†è§£pandasçš„æ¡ä»¶ç­›é€‰æ–¹å¼ä»¥åŠå¦‚ä½•ä½¿ç”¨äº¤é›†å’Œå¹¶é›†æ“ä½œ

#### 1.5.3 ä»»åŠ¡ä¸‰ï¼šå°†midageçš„æ•°æ®ä¸­ç¬¬100è¡Œçš„"Pclass"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [61]:
#å†™å…¥ä»£ç 
midage = midage.reset_index(drop=True)

midage.loc[[100],['Pclass','Sex']]

     Pclass   Sex
100       2  male

ã€æ€è€ƒã€‘è¿™ä¸ªreset_index()å‡½æ•°çš„ä½œç”¨æ˜¯ä»€ä¹ˆï¼Ÿå¦‚æœä¸ç”¨è¿™ä¸ªå‡½æ•°ï¼Œä¸‹é¢çš„ä»»åŠ¡ä¼šå‡ºç°ä»€ä¹ˆæƒ…å†µï¼Ÿ

#### 1.5.4 ä»»åŠ¡å››ï¼šå°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [65]:
#å†™å…¥ä»£ç 
midage = midage.reset_index(drop=True)

midage.loc[[100,105,108],['Pclass','Name','Sex']]

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

ã€æç¤ºã€‘ä½¿ç”¨pandasæå‡ºçš„ç®€å•æ–¹å¼ï¼Œä½ å¯ä»¥çœ‹çœ‹locæ–¹æ³•

å¯¹æ¯”æ•´ä½“çš„æ•°æ®ä½ç½®ï¼Œä½ æœ‰å‘ç°ä»€ä¹ˆé—®é¢˜å—ï¼Ÿé‚£ä¹ˆå¦‚ä½•è§£å†³ï¼Ÿ

#### 1.5.5 ä»»åŠ¡äº”ï¼šä½¿ç”¨ilocæ–¹æ³•å°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [66]:
#å†™å…¥ä»£ç 
midage.iloc[[100,105,108],[2,3,4]]

     Survived  Pclass                               Name
100         0       2  Byles, Rev. Thomas Roussel Davids
105         0       3           Cribb, Mr. John Hatfield
108         0       3                    Calic, Mr. Jovo